<div class="mb-5">
  <h1 class="text-center mt-5"><%= @app_title %></h1>
  <div class="text-center mt-5">
    <p>お気に入りの飲食店を</p>
    <p class="mb-0">身近な友だちとだけ共有できるwebアプリです</p>
  </div>
  <div class="main-image">
    <%= image_tag "画像話す女性2人.png", class: "img-thumbnail" %>
  </div>

  <!-- 招待されて飛んできた直後 -->
  <% if !user_signed_in? && session[:previous_url].present? %>

    <div class="d-flex justify-content-center register mt-5">
      <%= button_to "会員登録", new_user_registration_path, method: :get, class: "btn btn-success" %>
    </div>

    <p class="text-center mt-4">会員登録がお済みの方は</p>
    <div class="d-flex justify-content-center sign_in mt-3">
      <%= button_to "ログイン", new_user_session_path, method: :get, class: "btn btn-dark" %>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <%= link_to "トップページへ", root_path, class: "btn btn-secondary" %>
    </div>
    
  <!-- 招待されてきて、会員登録した後 -->
  <% elsif user_signed_in? && session[:previous_url].present? %>
    <% unless @user.request_allowed == false %>
      <p class="text-center">招待されてきた方はこちら</p>
      <div class="d-flex justify-content-center mb-5">
        <%= button_to "入室申請する", member_requests_path(params: {url: session[:previous_url]}), method: :post, class: "btn btn-success" %>
      </div>
    <% else %>
      <!-- この中でさらにif文で、許可が出たら部屋画面に行けるボタンを表示 -->
      <p class="text-center">返答があるまで少々お待ち下さいm(_ _)m</p>
      <p class="text-center">申請を取り消す場合はこちら</p>
      <div class="d-flex justify-content-center mb-5">
        <%= button_to "申請を取り消す", member_requests_path, method: :delete, class: "btn btn-secondary" %>
      </div>
    <% end %>

  <!-- 招待で来たわけではない人(何もなし) -->
  <% else %>
    <div class="d-flex justify-content-center mb-5">
      <%= link_to "トップページへ", root_path, class: "btn btn-secondary" %>
    </div>
  <% end %>

  <div class="text-center">
    <h5 class="mb-4">このアプリでできること</h5>
    
    <p>・友だちや自分が投稿した飲食店情報を見れる</p>
    <p>・友だちと自分だけが入れる「部屋」を作れる</p>
    <p>・投稿を見れるのは「部屋」のメンバーだけ！</p>
  </div>
</div>