<div class="container">
  <h1 class="text-center mt-5">お店共有アプリ</h1>

  <% if user_signed_in? %>
    <!-- ログインしていて、部屋を持っていない：部屋作成画面 -->
    <p>ログインユーザー:<%= current_user.name %></p>
    <p>ログインID:<%= current_user.id %></p>

    <% if @notification %>
      <div class="answer-modal">
        <%= render 'answer_message' %>
      </div>
    <% end %>
    <% if session[:previous_url].nil? %>
      <p>部屋を作成して、友だちを呼びましょう！</p>
      <%= button_to "部屋作成へ", new_room_path, method: :get %>
    <% end %>

    <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

  <% else %>
    <!-- ログインしていなければログインor会員登録を促す -->
    <%= render 'not_logged_in' %>
  <% end %>
</div>