<div class="container">
  <h2 class="text-center mt-3">レポートを登録する</h2>
  <p class="text-center mt-3">行ったお店の感想を登録しましょう！</p>

  <%= form_with model: @report, local: true do |f| %>
    <div class="field">
      
      <div class="row mb-3 d-flex justify-content-center">
        <%= render 'layouts/error_messages', model: f.object %>
      </div>

      <div class="row mb-3 d-flex justify-content-center">
        <%= f.label :title, class: "col-md-3 form-label required" %>
        <%= f.text_field :title, class: "col-md-6" %>
      </div>

      <div class="row mb-3 d-flex justify-content-center">
        <%= f.label :score, class: "col-md-3 form-label" %>
        <%= f.select :score, [100, 95, 90, 85, 80, 70, 50, 30, 0], {include_blank: "選択する"}, {class: "col-md-6 score-select"} %>
      </div>

      <div class="row mb-3 d-flex justify-content-center">
        <%= f.label :content, class: "col-md-3 form-label required" %>
        <%= f.text_area :content, class: "col-md-6", as: :text %>
      </div>

      <div class="actions submit d-flex justify-content-center">
        <%= f.submit "レポートを登録する", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center mt-5">
    <%= link_to "戻る", restaurant_path(@restaurant), class: "btn btn-secondary" %>
  </div>
</div>




  