<!-- 飲食店詳細・感想一覧・感想削除の画面 -->

<!-- fund情報エリア -->
<div>
  <!-- img表示 -->

  <div style="text-align: center;">
    <%= image_tag "blank_mono.jpg", class: "img-thumbnail", style: "max-height: 300px" %>
  </div>

  <!-- fund情報表示 -->
  <div class="bg-success" style="padding: 10px; margin: 10px;">
    <h2><%= @restaurant.name %></h2>

    <p><%= @restaurant.genre %>／<%= @restaurant.place %></p>

    <span>
      定休日：<%= @restaurant.holiday.present? ? @restaurant.holiday : '不明' %>
      ／店のホームページ：
    </span>
  </div>
</div>

<!-- reportエリア -->
<div>
  <%= button_to "新規感想", new_restaurant_report_path(@restaurant), method: :get, class: "btn btn-secondary" %> 
</div>

<div style="padding: 40px 0;">
  <p>感想パーシャルを設置</p>
  <% if @reports.present? %>
    <%= render partial: 'report', collection: @reports %>
  <% else %>
    <p>まだレポートは登録されていません</p>
  <% end %>
</div>

<div>
  <%= link_to '戻る', room_path(@room), class: "btn btn-secondary" %>
</div>