<!-- 飲食店詳細・感想一覧・感想削除の画面 -->

<!-- fund情報エリア -->
<div>
  <!-- img表示 -->

  <div style="text-align: center;">
    <%= image_tag "favs_blank002.jpg", class: "img-thumbnail", style: "max-height: 300px" %>
  </div>

  <!-- fund情報表示 -->
  <div class="bg-success" style="padding: 10px; margin: 10px;">
    <h2><%= @restaurant.name %></h2>

    <p><%= @restaurant.genre %>／<%= @restaurant.place %></p>

    <span>
      定休日：<%= @restaurant.holiday.present? ? @restaurant.holiday : '不明' %>
      ／店のホームページ：
    </span>
  </div>
</div>

<!-- reportエリア -->
<div>
  <%= button_to "新規感想", new_fund_restaurant_report_path(fund_restaurant_id: @restaurant.id), method: :get, class: "btn btn-secondary" %> 
</div>

<div style="padding: 40px 0;">
  <p>感想パーシャルを設置</p>
  <%= render 'reports' %>
</div>

<div>
  <%= link_to :back do %>
    <button>戻る</button>
  <% end %>
</div>